.header-logout__btn {
  padding: 15px;
  text-align: right;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  color: #333;
}

.header-logout__btn:hover {
  color: #999;
}

.header-login__btn {
  padding: 15px;
  text-align: right;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  color: #333;
}

.header-login__btn:hover {
  color: #999;
}
