Flask==0.12.2
Flask-Bcrypt==0.7.1
Flask-Mail==0.9.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
ipdb==0.10.3
ipython==6.1.0
itsdangerous==0.24
pandas==0.20.3
requests==2.18.4
simplejson==3.11.1
xlrd==1.0.0
